*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    padding: 40px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.item1{
    background-color: aqua;
}
.item2{
    background-color: red;
}
.item3{
    background-color: palevioletred;
}
.item4{
    background-color: yellow;
}
.item5{
    background-color: brown;
}
.item6{
    background-color: navy;
}